<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Ruta del archivo a leer-->
    <add key="readPath" value="C:\Users\gerardo.rios\Documents\Visual Studio 2015\Projects\LectorDePagos\Complemento_Pago_Septiembre_2018\Complemento Pago Septiembre 2018_TEST.txt"/>
    <!--Ruta donde se alojarán los archivos resultantes de la lectura-->
    <add key="resultPath" value="C:\Users\gerardo.rios\Documents\Visual Studio 2015\Projects\LectorDePagos"/>
    <!--Ruta donde se quedará el Log resultante-->
    <add key="logPath" value="C:\Users\gerardo.rios\Documents\Visual Studio 2015\Projects\LectorDePagos"/>
  </appSettings>
</configuration>